<header>
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
  </div>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Главная</span>
    </button>
    <button mat-menu-item [routerLink]="['/favorites', user.id]">
      <mat-icon>favorite</mat-icon>
      <span>Любимые</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <h1 class="logo">ЭДФЛИКС</h1>
  <div class="account-div">
    <button
      type="button"
      [matMenuTriggerFor]="accountMenu"
      mat-button
      class="account-btn"
    >
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Профиль</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
</header>

<div *ngIf="movie$ | async as movie">
  <div class="movie-main">
    <div class="bg-video">
      <video loop [muted]="'muted'" autoplay class="trailer-video">
        <source
          [src]="'http://localhost:3000/' + movie.trailer"
          type="video/mp4"
        />
        >
      </video>
      <div class="shadow"></div>
    </div>

    <div class="movie-info">
      <div class="movie-img-div">
        <img
          class="movie-img"
          mat-card-image
          [src]="'http://localhost:3000/' + movie.image"
        />
      </div>

      <!-- <video-dialog [movie$]="movie$"></video-dialog> -->

      <div class="movie-info-main">
        <h1 class="movie-title-year">{{ movie.title }} ({{ movie.year }})</h1>

        <div class="movie-info-btns">
          <div class="toWatch-div">
            <button
              class="toWatch-btn"
              mat-raised-button
              color="warn"
              type="button"
              (click)="playVideo(movie.id)"
            >
              <mat-icon class="play-icon">play_arrow</mat-icon>
              СМОТРЕТЬ
            </button>
          </div>
          <div class="toFavorite-div">
            <button
              class="toFavorite-btn"
              mat-raised-button
              [color]="isSelected ? 'warn' : 'basic'"
              (click)="favAddRem()"
              type="button"
            >
              <mat-icon class="favorite-icon">favorite</mat-icon>
            </button>
          </div>
        </div>

        <div class="movie-detail">
          <div class="movie-detail-header-div">
            <mat-list class="movie-detail-header-list" role="list">
              <mat-list-item role="listitem">
                <h1 style="width: 140px" class="about-movie">О фильме</h1>
              </mat-list-item>
              <mat-list-item role="listitem">Год производства</mat-list-item>
              <mat-list-item role="listitem">Страна</mat-list-item>
              <mat-list-item role="listitem">Жанр</mat-list-item>
              <mat-list-item role="listitem">Режиссер</mat-list-item>
              <mat-list-item role="listitem">Бюджет</mat-list-item>
            </mat-list>
          </div>
          <div class="movie-detail-data">
            <mat-list class="movie-detail-data" role="list">
              <mat-list-item role="listitem"></mat-list-item>
              <mat-list-item role="listitem">{{ movie.year }}</mat-list-item>
              <mat-list-item role="listitem">{{
                movie.country.join(", ")
              }}</mat-list-item>
              <mat-list-item role="listitem">{{
                movie.genre.join(", ")
              }}</mat-list-item>
              <mat-list-item role="listitem">
                {{ movie.director }}
              </mat-list-item>
              <mat-list-item role="listitem">${{ movie.budget }}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>

      <div class="movie-rate-actors">
        <div class="rate-div">
          <h1 class="rating">{{ movie.averageRating }}</h1>
        </div>
        <div class="vote-count">
          <h2 class="vote">{{ movie.voteCount }} оценок</h2>
        </div>
        <div class="movie-actors">
          <h2 class="movie-actors-title">В главных ролях</h2>
          <h2 *ngFor="let actor of actors" class="actors">{{ actor }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
