<header>
  <span class="menu">
    <mat-icon class="menu-icon" [inline]="true">
      menu
      <div class="pop-up-menu">
        <a href="/home">
          <mat-icon class="home-icon" [inline]="true">home</mat-icon>
          Главная
        </a>
        <a href="#">
          <mat-icon class="favorite-icon" [inline]="true">favorite</mat-icon>
          Любимые
        </a>
        <a href="#">Link 3</a>
      </div>
    </mat-icon>
  </span>
  <h1 class="logo">ЭДФЛИКС</h1>
  <div class="account-div">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </div>
</header>

<div class="movie-main">
  <div class="movie-info">
    <mat-grid-list *ngIf="movie$ | async as movie" cols="3" rowHeight="439px">
      <mat-grid-tile [colspan]="1">
        <img
          class="movie-img"
          mat-card-image
          [src]="'http://localhost:3000/' + movie.image"
        />
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>

      <mat-grid-tile [colspan]="2">
        <div class="movie-detail">
          <div class="movie-detail-header">
            <mat-list class="movie-detail-header" role="list">
              <mat-list-item role="listitem">
                <h1 class="about-movie">О фильме</h1>
              </mat-list-item>
              <mat-list-item role="listitem">Год производства</mat-list-item>
              <mat-list-item role="listitem">Страна</mat-list-item>
              <mat-list-item role="listitem">Жанр</mat-list-item>
              <mat-list-item role="listitem">Режиссер</mat-list-item>
              <mat-list-item role="listitem">Бюджет</mat-list-item>
            </mat-list>
          </div>
          <div class="movie-detail-data">
            <mat-list class="movie-detail-data" role="list">
              <mat-list-item role="listitem"></mat-list-item>
              <mat-list-item role="listitem">{{ movie.year }}</mat-list-item>
              <mat-list-item role="listitem">{{ movie.country }}</mat-list-item>
              <mat-list-item role="listitem">{{ movie.genre }}</mat-list-item>
              <mat-list-item role="listitem">{{
                movie.director
              }}</mat-list-item>
              <mat-list-item role="listitem">${{ movie.budget }}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [style.background]="'blue'">FIFTH</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
