<header>
  <!-- <span class="menu">
    <mat-icon class="menu-icon" [inline]="true">
      menu
      <div class="pop-up-menu">
        <a href="/home">
          <mat-icon class="home-icon" [inline]="true">home</mat-icon>
          Главная
        </a>
        <a href="/favorites">
          <mat-icon class="favorite-icon" [inline]="true">favorite</mat-icon>
          Любимые
        </a>
        <a href="#">Link 3</a>
      </div>
    </mat-icon>
  </span> -->

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
  </div>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Главная</span>
    </button>
    <button mat-menu-item [routerLink]="['/favorites', user.id]">
      <mat-icon>favorite</mat-icon>
      <span>Любимые</span>
    </button>
    <button mat-menu-item [routerLink]="['/genre']">
      <mat-icon>manage_search</mat-icon>
      <span>Жанры</span>
    </button>
  </mat-menu>

  <h1 class="logo">ЭДФЛИКС</h1>
  <div class="account-div">
    <button
      type="button"
      [matMenuTriggerFor]="accountMenu"
      mat-button
      class="account-btn"
    >
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item [routerLink]="['/profile', user.id]">
      <mat-icon>person</mat-icon>
      <span>Профиль</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
</header>

<div class="home-main">
  <div *ngIf="getMovies() | async as movieListItem">
    <div class="form-group">
      <mat-form-field class="search">
        <mat-label>Поиск фильма </mat-label>
        <input
          class="search-input"
          matInput
          [ngModel]="movie.title"
          (ngModelChange)="searchMovie($event)"
        />
      </mat-form-field>
    </div>

    <div class="movie-list">
      <mat-grid-list cols="5" rowHeight="350px">
        <mat-grid-tile *ngFor="let movie of movieListItem">
          <button type="button" mat-button [routerLink]="['/movie/', movie.id]">
            <img
              class="movie-img"
              mat-card-image
              [src]="'http://localhost:3000/' + movie.image"
            />
            <div class="rating">
              {{ movie.averageRating }}
            </div>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
