::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(0, 0, 0) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(0, 0, 0) !important;
}

.home-main {
  margin: auto;
  margin-top: 5px;
  width: 95%;
  border: 3px solid rgb(0, 0, 0);
  background-color: aliceblue;
  text-align: center;

  .search {
    width: 1000px;
    font-size: 25px;
  }

  .homa-main-title {
    color: rgb(225, 25, 25);
  }
}
