::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgb(170, 170, 170) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(170, 170, 170) !important;
}
// style="color: rgb(170, 170, 170)"
.home-main {
  // margin: auto;
  // margin-top: 5px;
  text-align: center;
  height: 90vh;
  width: 100%;
  background-color: rgb(50, 50, 50);

  .search {
    width: 1000px;
    font-size: 25px;

    .mat-label {
      color: rgb(255, 255, 255);
    }
  }

  .movie-list {
    margin-top: -30px;
    .mat-grid-list {
      .mat-grid-tile {
        .movie-img {
          height: 160px;
          width: 280px;
          border-radius: 5%;
        }

        .rating {
          position: absolute;
          background: rgb(255, 170, 0);
          top: 2%;
          font: bold 20px/30px Helvetica, Sans-Serif;
          padding: 5px 3%;
          margin-left: 2%;
          height: 30px;
          width: 30px;
          border-radius: 20%;
        }
      }
    }
  }
}
