<header>
  <span class="menu">
    <mat-icon class="menu-icon" [inline]="true">
      menu
      <div class="pop-up-menu">
        <a href="/home">
          <mat-icon class="home-icon" [inline]="true">home</mat-icon>
          Главная
        </a>
        <a href="#">
          <mat-icon class="favorite-icon" [inline]="true">favorite</mat-icon>
          Любимые
        </a>
        <a href="#">Link 3</a>
      </div>
    </mat-icon>
  </span>
  <h1 class="logo">ЭДФЛИКС</h1>
  <div class="account-div">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </div>
</header>

<div class="favorites-main">
  <div class="favorites-title-div">
    <h1 class="favorites-title">Буду смотреть</h1>
  </div>

  <div
    class="fav-mov-list"
    *ngIf="getFavoritesMovies() | async as favoritesMovies"
  >
    <div class="fav-mov-list">
      <mat-grid-list cols="5" rowHeight="400px">
        <mat-grid-tile *ngFor="let movie of favoritesMovies">
          <button type="button" mat-button [routerLink]="['/movie/', movie.id]">
            <img
              class="movie-img"
              mat-card-image
              [src]="'http://localhost:3000/' + movie.image"
            />
            <div class="rating">
              {{ movie.averageRating }}
            </div>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
