<!-- <div class="header-main">
  <div class="header-div">
    <div class="header-menu">
      <mat-icon class="menu-icon" [inline]="true">menu</mat-icon>
    </div>
    <div class="header-name">
      <h1 class="title-header-name">EdFlix</h1>
    </div>
  </div>
</div> -->

<header>
  <span class="menu">
    <mat-icon class="menu-icon" [inline]="true">
      menu
      <div class="pop-up-menu">
        <a href="/home">
          <mat-icon class="home-icon" [inline]="true">home</mat-icon>
          Главная
        </a>
        <a href="#">
          <mat-icon class="favorite-icon" [inline]="true">favorite</mat-icon>
          Любимые
        </a>
        <a href="#">Link 3</a>
      </div>
    </mat-icon>
  </span>
  <h1 class="logo">ЭДФЛИКС</h1>
</header>
